<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Customer Management</title>
    <!-- ======================JS引入================================== -->
    <!-- jQuery必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- ======================CSS引入================================== -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header Part Start -->
    <header class='header-area'>
        <%- include("header.ejs")%> 
    </header>
    <nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <!-- <a class="breadcrumb-item" href="#">Library</a>
  <a class="breadcrumb-item" href="#">Data</a> -->
  <span class="breadcrumb-item active">Customer Edit</span>
</nav>
    <!-- Header Part End-->
<br><br>
<!-- Users table -->
        <div class="container">
            <h3>Customer ID :<span><%=customerItem.person_id%></span></h3>
            <p>Customer Type: <span><%=customerItem.position%></span></p>
            
            <br><br>
            <form action="/updateCustomer/<%=customerItem.person_id%>" method="post">
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Customer Full Name</span>
                    </div>
                    <input type="text" class="form-control col-lg-3" value="<%=customerItem.name%>" name="customerName">
                    </div>

                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">E-mail Address</span>
                    </div>
                    <input type="text" class="form-control col-lg-3" value="<%=customerItem.mail%>" name="customerMail"> 
                    </div>

                    <input type="submit" class="btn btn-info" value="Change Customer Information">
            </form>


        </div>
    
</body>

</html>
