<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Location Management</title>
    <!-- ======================JS引入================================== -->
    <!-- jQuery必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- ======================CSS引入================================== -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header Part Start -->
    <header class='header-area'>
        <%- include("header.ejs")%> 
    </header>
    <nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <!-- <a class="breadcrumb-item" href="#">Library</a>
  <a class="breadcrumb-item" href="#">Data</a> -->
  <span class="breadcrumb-item active">Location Edit</span>
</nav>
    <!-- Header Part End-->
<br><br>
<!-- Users table -->
        <div class="container mb-3">
        
            
            <br><br>
            <h3>Location: <span><%=locationInfo.id%></span></h3>
            ROOM: <span><%=locationInfo.room_number%></span>  |  SHELF: <span><%=locationInfo.shelf_number%></span> 
            <br><br>
            <form action="/updateLocation/<%=locationInfo.id%>" method="post">

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Location IN</span>
                    </div>
                    <input type="text" class="form-control col-lg-4" value="<%=locationInfo.warehouse_name%>" disabled="disabled" name="locationWarehouse">
                   
                    </div>

                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Location Inventory ID</span>
                    </div>
                    <input type="text" class="form-control col-lg-4" value="<%=locationInfo.inventory_id%>" name="locationInventory">
                  
                    </div>
                      <p>(You can remove an inventory from this location by leaving this blank.)</p>
                      <br>
                      <h5>Size Setting</h5>
                      <br>

                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Length</span>
                    </div>
                    <input type="text" class="form-control col-lg-2" value="<%=locationInfo.length%>" name="locationLength"> 
                    </div>
                   

                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Width</span>
                    </div>
                    <input type="text" class="form-control col-lg-2" value="<%=locationInfo.width%>" name="locationWidth"> 
                    </div>

                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text">Height</span>
                    </div>
                    <input type="text" class="form-control col-lg-2" value="<%=locationInfo.height%>" name="locationHeight"> 
                    </div>

                    <input type="submit" class="btn btn-info" value="Edit Location">
            </form>


        </div>
    
</body>

</html>
